body {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    text-align: justify;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 70%;
}

h1 {
    color: pink;
    text-transform: uppercase;
}

/* .todos-cont {
    display: flex;
    justify-content: center;
} */

.todos-cell {
    display: inline-block;
    height: 20px;
}

.col-fields {
    background-color: blanchedalmond;
    margin: 5px;
}

.todos-header-cont {
    display: flex;
    justify-content: center;
}

nav {
    margin-bottom: 50px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}

.filter-buttons {
    text-align: center;
    margin: 10px;
}

.action-buttons {
    text-align: center;
    margin-top: 20px;
}

.register-input {
    margin-bottom: 10px;
}

::placeholder {
    text-indent: 2%;
}

input:-webkit-autofill {
    text-indent: 2%;
}

#message {
    text-indent: 2%;
}

/* .register-input {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

#hero {
    margin-top: 30px;
    width: 100%;
    max-height: 100%;
}

#hero-crop {
    width: 100%;
    max-height: 100%;
}

.filter-buttons {
    text-align: center;
    margin: 20px;
}

.dead-time {
    margin-top: 10px;
}

#reg-h2 {
    text-align: left;
}

nav {
    margin-bottom:30px;
}